{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3 addAsset">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4">Add Asset</div>
	<form action="{% url 'addAsset' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_{{assetForm.assetId.name}}">{{assetForm.assetId.label}}</label>
			{{assetForm.assetId}}
			{{assetForm.assetId.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{assetForm.name.name}}">{{assetForm.name.label}}</label>
			{{assetForm.name}}
			{{assetForm.name.errors}}
		</div>
		<input class="btn btn-primary pl-4 pr-4 mb-4" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}