{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3 addTask">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4">Add Task</div>
	<form action="{% url 'addTask' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_{{taskForm.taskId.name}}">{{taskForm.taskId.label}}</label>
			{{taskForm.taskId}}
			{{taskForm.taskId.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{taskForm.name.name}}">{{taskForm.name.label}}</label>
			{{taskForm.name}}
			{{taskForm.name.errors}}
		</div>
		<input class="btn btn-primary pl-4 pr-4 mb-4" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}