{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3 addWorker">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4">Add Worker</div>
	<form action="{% url 'addWorker' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_{{workerForm.workerId.name}}">{{workerForm.workerId.label}}</label>
			{{workerForm.workerId}}
			{{workerForm.workerId.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{workerForm.name.name}}">{{workerForm.name.label}}</label>
			{{workerForm.name}}
			{{workerForm.name.errors}}
		</div>
		<input class="btn btn-primary pl-4 pr-4 mb-4" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}