{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'asset/js/single_select_widget.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'asset/css/single_select_widget.css' %}">
{% endblock %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3 allocateTask">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4">Allocate Task</div>
	<form action="{% url 'allocateTask' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_{{allocateForm.asset.name}}">{{allocateForm.asset.label}}</label>
			{{allocateForm.asset}}
			{{allocateForm.asset.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{allocateForm.task.name}}">{{allocateForm.task.label}}</label>
			{{allocateForm.task}}
			{{allocateForm.task.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{allocateForm.worker.name}}">{{allocateForm.worker.label}}</label>
			{{allocateForm.worker}}
			{{allocateForm.worker.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{allocateForm.timeOfAllocation.name}}">{{allocateForm.timeOfAllocation.label}}</label>
			{{allocateForm.timeOfAllocation}}
			{{allocateForm.timeOfAllocation.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{allocateForm.taskToBePerformedBy.name}}">{{allocateForm.taskToBePerformedBy.label}}</label>
			{{allocateForm.taskToBePerformedBy}}
			{{allocateForm.taskToBePerformedBy.errors}}
		</div>
		<input class="btn btn-primary pl-4 pr-4 mb-4" type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}