{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4 geTasksForWorker">View Tasks of Worker</div>

	<form action="{% url 'getTasksForWorker' %}" method="get">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label">Enter the Worker ID</label>
			<input type="text" name="workerId" class="form-control" placeholder="Worker ID">
			<input class="btn btn-primary pl-4 pr-4 mb-4 mt-3" type="submit" value="Submit"/>
		</div>
	</form>

	{% if search %}
	<table class="table table-hover">
		<thead>
			<th scope="col">Asset</th>
			<th scope="col">Task</th>
			<th scope="col">Worker</th>
			<th scope="col">Time of allocation</th>
			<th scope="col">Task to be performed by</th>
		</thead>
		<tbody>
			{% for alloctedTask in alloctedTasks %}
			<tr>
				<td>{{alloctedTask.asset.name}}</td>
				<td>{{alloctedTask.task.name}}</td>
				<td>{{alloctedTask.worker.name}}</td>
				<td>{{alloctedTask.timeOfAllocation}}</td>
				<td>{{alloctedTask.taskToBePerformedBy}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
{% endblock %}