{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3 liquidAll">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4">View Liquids</div>

	<table class="table table-hover">
		<thead>
			<th scope="col">Name</th>
			<th scope="col">Surface Energy</th>
		</thead>
		<tbody>
			{% for liquid in liquids %}
			<tr>
				<td>{{liquid.name}}</td>
				<td>{{liquid.energy}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
