{% load static %}

<nav class="navbar navbar-expand-sm navbar-light mb-3" style="padding:0;">
  <button class="navbar-toggler navbar-toggler-small" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon navbar-toggler-icon-small"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
		<a class="nav-link nav-home" href="{% url 'getSurfaceTension' %}">Home</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link nav-addLiquid" href="{% url 'addLiquid' %}">Add Liquid</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link nav-addSolid" href="{% url 'addSolid' %}">Add Solid</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link nav-liquidAll" href="{% url 'liquidAll' %}">View Liquids</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link nav-solidAll" href="{% url 'solidAll' %}">View Solids</a>
	  </li>
	</ul>
  </div>
</nav>
