{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'asset/js/single_select_widget.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'asset/css/single_select_widget.css' %}">
{% endblock %}

{% block main_content %}
<div class="container-fluid mt-3 mb-3 home">
	{% include 'navbar.html' %}
	<div class="h2 text-center text-primary font-weight-bold mb-4">Surface Tension</div>
	<form action="{% url 'getSurfaceTension' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label class="form-label" for="id_{{form.angle.name}}">{{form.angle.label}}</label>
			{{form.angle}}
			{{form.angle.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.solid.name}}">{{form.solid.label}}</label>
			{{form.solid}}
			{{form.solid.errors}}
		</div>
		<div class="form-group">
			<label class="form-label" for="id_{{form.liquid.name}}">{{form.liquid.label}}</label>
			{{form.liquid}}
			{{form.liquid.errors}}
		</div>
		<input class="btn btn-primary pl-4 pr-4 mb-4" type="submit" value="Submit"/>
	</form>
	<div class="text-center p-3 border">Surface Tension is: {{ surfaceTension }}</div>
</div>
{% endblock %}
